.par1-input{
    display: block;
        width: 400px;
        height: 50px;
        padding-left: 12px;
        border-radius: 12px;
        margin-top: 12px;
        color: rgb(26, 26, 26);
        /* background-color: rgb(121, 121, 121); */
        border: 4px solid, rgb(31, 30, 30)
  
}